<form [formGroup]="orarEntryForm" (ngSubmit)="onSubmit()" *ngIf="orarEntryForm">
    <label>Nume</label>
    <input type="text" formControlName="title">
    <label>Acronim</label>
    <input type="text" formControlName="acronim">
    <label>Descriere</label>
    <input type="text" formControlName="description">
    <label>Profesor</label>
    <input type="text" formControlName="professor">
    <label>Tip</label>
    <select formControlName="type">
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
    <label>Sala</label>
    <select formControlName="room">
      <option *ngFor="let room of rooms" [value]="room">{{room}}</option>
    </select>
    <label>Grupa</label>
    <select formControlName="grupa"> 
      <option [value]="null">Toate</option>
      <option *ngFor="let grupa of grupe" [value]="grupa">{{grupa}}</option>
    </select>
    <label>Zi</label>
    <select formControlName="day">
      <option *ngFor="let day of days" [value]="day">{{day}}</option>
    </select>
    <label>Ora</label>
    <select formControlName="hour">
      <option *ngFor="let hour of getAvailableHours()" [value]="hour">{{hour}}</option>
    </select>
    <label>Durata</label>
    <select formControlName="duration">
      <option *ngFor="let duration of getAvailableDurations()" [value]="duration">{{duration}}</option>
    </select>
    <button mat-raised-button type="submit">Adauga intrare</button>
  </form>
