<form [formGroup]="orarEntryForm" (ngSubmit)="onSubmit()" *ngIf="orarEntryForm" class="form-orar">
    <p style="font-size:1.5em; text-align:center;">Adauga intare orar</p>
    <hr>
    <label>Nume
    <input type="text" formControlName="title">
  </label>
    <label>Acronim
    <input type="text" formControlName="acronim">
  </label>
    <label>Descriere
    <input type="text" formControlName="description">
  </label>
    <label>Profesor
    <input type="text" formControlName="professor">
  </label>
    <label>Tip
    <select formControlName="type">
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </label>
    <label>Sala
    <select formControlName="room">
      <option *ngFor="let room of rooms" [value]="room">{{room}}</option>
    </select>
  </label>
    <label>Grupa
    <select formControlName="grupa"> 
      <option [value]="null">Toate</option>
      <option *ngFor="let grupa of grupe" [value]="grupa">{{grupa}}</option>
    </select>
  </label>
    <label>Zi
    <select formControlName="day">
      <option *ngFor="let day of days" [value]="day">{{day}}</option>
    </select>
  </label>
    <label>Ora
    <select formControlName="hour">
      <option *ngFor="let hour of getAvailableHours()" [value]="hour">{{hour}}</option>
    </select>
  </label>
    <label>Durata
    <select formControlName="duration">
      <option *ngFor="let duration of getAvailableDurations()" [value]="duration">{{duration}}</option>
    </select>
  </label>
    <button class="blue-button"mat-raised-button type="submit">Adauga intrare</button>
  </form>