<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="loginForm">
  <p style="font-size:1.5em; text-align:center;">Intra in cont</p>
  <hr>
  <div>
      <label for="email">Email
      <input type="text" formControlName="email" id="email" name="email">
    </label>
  </div>
<div>
    <label for="password">Parola
    <input type="password" formControlName="password" id="password">
  </label>
</div>
  
  <button class="blue-button" mat-raised-button type="submit">Login</button>
  <p style="text-align: center;">SAU</p>
  <button class="blue-button" mat-raised-button type="button">Login cu Facebook</button>
  <button class="red-button" mat-raised-button type="button" (click)="loginWithGoogle()">Login cu Google</button>

  <app-face-match #faceDataGetterComponent (finishedRegistering)="faceRecognitionDataFinished($event)" [hidden]="!faceRecognitionComponentVisible"></app-face-match>
  <button class="yellow-button" mat-raised-button type="button" (click)="OpenFaceDataRegister()">Login cu face detection</button>
  <img class="hide-on-med-and-down login-bg" src="../../assets/images/login-bgimg.svg" alt="">
  <img class="hide-on-med-and-down login-leftl" src="../../assets/images/login-leftl.svg" alt="">
  <img class="hide-on-med-and-down login-rightl" src="../../assets/images/login-rightl.svg" alt="">
  
</form>
