.form-register{
    max-width:400px;
    margin: 10vh auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(83, 83, 83, 0.25);
    padding:20px;
    color:#0F2252; 
    position:relative;
}
button {
    display: inline-block;
    border: none;
    width:100%;
    padding: 10px;
    padding-left:3em;
    padding-right:3em;
    margin-top:30px;
    margin-bottom:20px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}



button:active {
    transform: scale(0.99);
}
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
    border: 2px solid #BAECFE;
    box-sizing: border-box;
    border-radius: 5px;
    color:#28C7FF;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left:0px;
    opacity: 0;
}
[type="checkbox"]:checked+label:before {
 background-color: #28C7FF !important;
    backface-visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #28C7FF;
    transform: rotate(0deg);
    color:#28C7FF;
}