<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-register">
    <p style="font-size:1.5em; text-align:center;">Adauga utilizator</p>
    <hr>
  <button type="button" class="blue-button" [disabled]="!ableToAdd()" (click)="addUser()">Adauga utilizator</button>
  <div formArrayName="users">
    <div *ngFor="let user of usersControls; let i = index">
      <div [formGroupName]="i">
        <label>Email
        <input type="text" formControlName="email">
      </label>
        <label>Prenume
        <input type="text" formControlName="name">
      </label>
        <label>Nume
        <input type="text" formControlName="surname">
      </label>
        <label>Grupa
        <input type="text" formControlName="grupa">
      </label>
        <input type="checkbox" formControlName="sefGrupa">
        <div>
          <input type="checkbox" id="sefGrupa" formControlName="sefGrupa">
          <label for="sefGrupa">Sef de grupa</label>
        </div>
      </div>
      <button type="button" class="red-button" [disabled]="!ableToRemove()" (click)="removeUser(i)">Sterge utilizator</button>
    </div>
  </div>
  <button type="submit" class="yellow-button" [disabled]="!ableToAdd()">Submit</button>
</form>
