<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <button type="button" class="btn" [disabled]="!ableToAdd()" (click)="addUser()">Adauga utilizator</button>
  <div formArrayName="users">
    <div *ngFor="let user of usersControls; let i = index">
      <div [formGroupName]="i">
        <label>Email</label>
        <input type="text" formControlName="email">
        <label>Prenume</label>
        <input type="text" formControlName="name">
        <label>Nume</label>
        <input type="text" formControlName="surname">
        <label>Grupa</label>
        <input type="text" formControlName="grupa">
        <input type="checkbox" formControlName="sefGrupa">
        <div>
          <input type="checkbox" id="sefGrupa" formControlName="sefGrupa">
          <label for="sefGrupa">Sef de grupa</label>
        </div>
      </div>
      <button type="button" class="btn" [disabled]="!ableToRemove()" (click)="removeUser(i)">Sterge utilizator</button>
    </div>
  </div>
  <button type="submit" class="btn" [disabled]="!ableToAdd()">Submit</button>
</form>
