<div class="content">
    <div class="filter-body">
        <div style=" max-width: 300px;" (click)="typeIndex=0">
            <div class="circle" [style.background-color]="getColor(types[0])"></div>
            <p class="title-entry">Toate</p>
        </div>
        <div style="max-width: 300px;" (click)="typeIndex=1">
            <div class="circle" [style.background-color]="getColor(types[1])"></div>
            <p class="title-entry">Cursuri</p>
        </div>
        <div style=" max-width: 300px;" (click)="typeIndex=2">
            <div class="circle" [style.background-color]="getColor(types[2])"></div>
            <p class="title-entry">Laboratoare</p>
        </div>
        <div style=" max-width: 300px;" (click)="typeIndex=3">
            <div class="circle" [style.background-color]="getColor(types[3])"></div>
            <p class="title-entry">Seminarii</p>
        </div>
      </div>
      <div class="orar-body">
        <div style="display: block; margin:auto; max-width: 100px;margin-bottom:10px;">
            <span (click)="decrementDayIndex()"><img src="../../../assets/images/arrow_left.svg"></span><span style="margin-right:10px;margin-left:10px;" >{{days[dayIndex]}}</span><span (click)="incrementDayIndex()"><img src="../../../assets/images/arrow_right.svg"></span>

        </div>
          <div *ngFor="let entry of filterEntries()">
              <div class="orar-entry">
                <div style="display:inline-block; max-width: 300px;">
                    <div class="circle" [style.background-color]="getColor(entry.type)"></div>
                    <p class="title-entry">{{entry.title}}</p>
                </div>
                  <div style="float:right; display:inline-block; color: rgba(41, 191, 246, 0.4);padding:10px;">
                      <span >{{entry.room}}</span> 
                      <br>
                      <span>{{entry.hour}}-</span>
                      <span>{{entry.hour + entry.duration}}</span>
                  </div>
              </div>
             
            </div>    
        </div>
        <div class="descriere-body">
            <p>Titlu</p>
            <hr>
            <p>Profesor curs:</p>
            <p>Laborant:</p>
            <p>Interval orar:</p>
            <p>Sala:</p>
            <p>Descriere curs:<br>
            </p>
            <div (click)="navigate()" class="button yellow-button" ><img src="../../../assets/images/get_directions.svg" > Get directions</div>
          </div>
        <div class="circle-button">
          <img src="../../../assets/images/kortana_icon.svg" style="max-width: 100%;">
        </div>
</div>
