/* You can add global styles to this file, and also import other style files */

.btn-blue {
    background: linear-gradient(90deg, #00E0FF 0%, #1055B7 100%);
    border-radius: 5px;
}

.color-primary {
    color: #10489C;
}
