<!-- <div class="home-page">  
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <img fxHide.gt-sm="true" class="image-mobile" src="../../assets/images/home2.svg" alt="Home 2">
    <h2 class="flow-text title">Ai nevoie de ajutor cu universitatea?</h2>
    <p class="flow-text description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, culpa quasi quod praesentium quis nulla iusto nostrum dicta veniam, quaerat atque hic, aliquam temporibus magnam dolore quidem cupiditate mollitia quo!</p>
    <button class="btn btn-blue try-button" routerLink="/login">Incearca acum!</button>
    <img fxHide.lt-sm="true" fxHide.sm="true" class="image-desktop" src="../../assets/images/home1.svg" alt="Home 1">
  </div>
  <h2 class="flow-text title">Ce poate Kortana sa faca?</h2>
  
  <div fxHide.lt-sm="true" fxHide.sm="true" class="feature-row" fxLayout="row" fxLayoutAlign="center center">
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-face.svg" alt="Face">
      <h3 class="flow-text feature-title">Recognitie faciala</h3>
      <p class="flow-text feature-description">Autentifica-te instant prin detectarea fetei.</p>
    </div>
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-social.svg" alt="Face">
      <h3 class="flow-text feature-title">Social login</h3>
      <p class="flow-text feature-description">Autentifica-te cu contul de Facebook sau G-mail.</p>
    </div>
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-voice.svg" alt="Face">
      <h3 class="flow-text feature-title">Asistent vocal</h3>
      <p class="flow-text feature-description">Interactioneaza cu asistentul vocal oriunde in aplicatie.</p>
    </div>
  </div>  
  <div class="feature-row" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-navigation.svg" alt="Face">
      <h3 class="flow-text feature-title">Navigatie</h3>
      <p class="flow-text feature-description">Ajungi usor pana la sala de curs.</p>
    </div>
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-notifications.svg" alt="Face">
      <h3 class="flow-text feature-title">Notificari</h3>
      <p class="flow-text feature-description">Stii intotdeauna cand se intampla ceva important.</p>
    </div>
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-agenda.svg" alt="Face">
      <h3 class="flow-text feature-title">Agenda</h3>
      <p class="flow-text feature-description">Ai acces mereu la orar si programul tau din timpul zilei.</p>
    </div>
  </div>
  
  <div fxHide.sm-lg="true class="feature-row" fxLayout="row" fxLayoutAlign="center center">
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-face.svg" alt="Face">
      <h3 class="flow-text feature-title">Recognitie faciala</h3>
      <p class="flow-text feature-description">Autentifica-te instant prin detectarea fetei.</p>
    </div>
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-social.svg" alt="Face">
      <h3 class="flow-text feature-title">Social login</h3>
      <p class="flow-text feature-description">Autentifica-te cu contul de Facebook sau G-mail.</p>
    </div>
  </div>     
  <div class="feature-row" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-voice.svg" alt="Face">
      <h3 class="flow-text feature-title">Asistent vocal</h3>
      <p class="flow-text feature-description">Interactioneaza cu asistentul vocal oriunde in aplicatie.</p>
    </div> 
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-navigation.svg" alt="Face">
      <h3 class="flow-text feature-title">Navigatie</h3>
      <p class="flow-text feature-description">Ajungi usor pana la sala de curs.</p>
    </div>
  </div> 
  <div class="feature-row" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-notifications.svg" alt="Face"><div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <img class="image-feature" src="../../assets/images/feature-voice.svg" alt="Face">
            <h5 class="center">Recognitie faciala</h5>
            
            <p class="light">Autentifica-te instant prin detectarea fetei.</p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <img class="image-feature" src="../../assets/images/feature-voice.svg" alt="Face">
            <h5 class="center">User Experience Focused</h5>
            
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>
            
            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
      <h3 class="flow-text feature-title">Notificari</h3>
      <p class="flow-text feature-description">Stii intotdeauna cand se intampla ceva important.</p>
    </div>
    <div class="feature-group" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img class="image-feature" src="../../assets/images/feature-agenda.svg" alt="Face">
      <h3 class="flow-text feature-title">Agenda</h3>
      <p class="flow-text feature-description">Ai acces mereu la orar si programul tau din timpul zilei.</p>
    </div>
  </div>
  <h2 class="flow-text contact">Contacteaza-ne: kortana.assistant@gmail.com</h2>
</div> -->



<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <img fxHide.gt-sm="true" class="image-mobile" src="../../assets/images/home2.svg" alt="Home 2">
    <h1 class="header center title">Ai nevoie de ajutor cu universitatea?</h1>
    <div class="row center">
      <h5 class="header col s12 light description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, culpa quasi quod praesentium quis nulla iusto nostrum dicta veniam, quaerat atque hic, aliquam temporibus magnam dolore quidem cupiditate mollitia quo!</h5>
    </div>
    <button class="btn btn-blue try-button" routerLink="/login">Incearca acum!</button>
    <img fxHide.lt-sm="true" fxHide.sm="true" class="image-desktop" src="../../assets/images/home1.svg" alt="Home 1">
    <br><br>
    
  </div>
</div>


<div class="container">
  <div class="section">
    
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <img class="col l6 offset-l3 m6 offset-m3 s6 offset-s3" src="../../assets/images/feature-face.svg" alt="Face">
          <h5 class="col s12 m12 l12 feature-title center">Recognitie faciala</h5>
          
          <p class="col s12 m12 l12 feature-description light">Autentifica-te instant prin detectarea fetei.</p>
        </div>
      </div>
      
      <div class="col s12 m4">
        <div class="icon-block">
          <img class="col l6 offset-l3 m6 offset-m3 s6 offset-s3" src="../../assets/images/feature-social.svg" alt="Face">
          <h5 class="col s12 m12 l12 feature-title center">Social login</h5>
          
          <p class="col s12 m12 l12 feature-description light">Autentifica-te cu contul de Facebook sau G-mail.</p>
        </div>
      </div>
      
      <div class="col s12 m4">
        <div class="icon-block">
          <img class="col l6 offset-l3 m6 offset-m3 s6 offset-s3" src="../../assets/images/feature-voice.svg" alt="Face">
          <h5 class="col s12 m12 l12 feature-title center">Asistent vocal</h5>
          
          <p class="col s12 m12 l12 feature-description light">Interactioneaza cu asistentul vocal oriunde in aplicatie.</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <img class="col l6 offset-l3 m6 offset-m3 s6 offset-s3" src="../../assets/images/feature-navigation.svg" alt="Face">
          <h5 class="col s12 m12 l12 feature-title center">Navigatie</h5>
          
          <p class="col s12 m12 l12 feature-description light">Ajungi usor pana la sala de curs.</p>
        </div>
      </div>
      
      <div class="col s12 m4">
        <div class="icon-block">
          <img class="col l6 offset-l3 m6 offset-m3 s6 offset-s3" src="../../assets/images/feature-notifications.svg" alt="Face">
          <h5 class="col s12 m12 l12 feature-title center">Notificari</h5>
          
          <p class="col s12 m12 l12 feature-description light">Stii intotdeauna daca se intampla ceva important.</p>
        </div>
      </div>
      
      <div class="col s12 m4">
        <div class="icon-block">
          <img class="col l6 offset-l3 m6 offset-m3 s6 offset-s3" src="../../assets/images/feature-agenda.svg" alt="Face">
          <h5 class="col s12 m12 l12 feature-title center">Agenda personala</h5>
          
          <p class="col s12 m12 l12 feature-description light">Ai acces mereu la orar si programul tau din timpul zilei.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row center">
      <h5 class="contact header col s12 light title">Contacteaza-ne: kortana.assistant@gmail.com</h5>
    </div>
    
  </div>
</div>